<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunder</title>
</head>
<body>
<header>
    <h1>Logo + cupcakes + background</h1>
</header>
<!--"toolbar" is a placeholder name, the element is the bar that contains "Customers/orders" buttons and displays e-mail-->
<div class="toolbar">
    <button onclick="window.location.href='/customers'">Kunder</button>
    <button onclick="window.location.href='/orders'">Ordrer</button>
</div>

<form action="/admin/updateBalance" method="post">
    <input type="hidden" name="userId" th:value="${customer.id}">
    <input type="number" name="newBalance" min="0" required>
    <button type="submit">Opdater</button>
</form>


<div class="customer-table">
    <table>
        <thead>
        <tr>
            <!-- Creates columns that are then filled by the <td> elements in the <tr> elements below
                 each <tr> element represents a new row that you put data into using <td> -->
            <th scope="col">E-mail</th>
            <th scope="col">Ordrer</th>
            <th scope="col">Balance</th>
            <th scope="col">Opdater Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>test@test.dk</td>
            <td>2</td>
        </tr>
        <tr>
            <td>test@test.com</td>
            <td>5</td>
        </tr>
        <tr>
            <td>emil@mail.dk</td>
            <td>3</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>