<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunder</title>
</head>
<body>
<header>
    <h1>Logo + cupcakes + background</h1>
</header>
<!--"toolbar" is a placeholder name, the element is the bar that contains "Customers/orders" buttons and displays e-mail-->
<div class="toolbar">
    <button onclick="window.location.href='/customers'">Kunder</button>
    <button onclick="window.location.href='/orders'">Ordrer</button>
</div>

<div class="customer-table">
    <table>
        <thead>
        <tr>
            <th scope="col">E-mail</th>
            <th scope="col">Balance</th>
            <th scope="col">Opdater Balance</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="customer : ${customers}">
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.balance}"></td>
            <td>
                <form action="/admin/updateBalance" method="post">
                    <input type="hidden" name="userId" th:value="${customer.id}">
                    <input type="number" name="amount" min="1" required placeholder="Tilføj beløb">
                    <button type="submit">Tilføj</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>