<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olsker Cupcakes</title>
</head>
<body>
<div class="header">
    <div class="olskerlogo">
        <img src="../public/images/olskerlogo.png" height="390" width="338"/>
    </div>

    <button class="button" onclick="window.location.href='/checkout'">Checkout</button>

    <div class="user-section">
        <button th:if="${session.user == null}" onclick="window.location.href='/login'">Log ind</button>
        <span th:if="${session.user != null}" th:text="${session.user.email}"></span>
    </div>

    <!-- Admin Links (only visible if the user is an admin) -->
    <div class="admin-links" th:if="${session.user != null and session.user.isAdmin}">
        <a href="/orders">Ordrer</a>
        <a href="/customers">Kunder</a>
    </div>
</div>

<div class="cupcakelogo">
    <img src="../public/images/cupcakelogo.png" height="305" width="955"/>
</div>
<form action="/addToBasket" method="post">
    <div class="container">
        <h2>Velkommen ombord</h2>
        <p>Øens bedste cupcakes. Vælg og bestil her:</p>
        <div class="selection">
            <select name="bottom-selection" id="bottom-selection">
                <option value="" disabled selected>Vælg bund</option>
                <option th:each="b : ${bottoms}"
                        th:value="${b.id}"
                        th:text="${b.name}">
                </option>
            </select>

            <select name="topping-selection" id="topping-selection">
                <option value="" disabled selected>Vælg top</option>
                <option th:each="t : ${toppings}"
                        th:value="${t.id}"
                        th:text="${t.name}">
                </option>
            </select>

            <input type="number" name="amount" placeholder="Vælg antal" min="1">
        </div>
        <button class="button">Læg i kurv</button>
    </div>
</form>
</body>
</html>
